#logo{
    width: 50%;
    height: 60%;
    -webkit-filter: drop-shadow(3px 3px 3px #6e7083);
    image-rendering: pixelated;
}


#accordionSidebar{
    /* background-image: linear-gradient(0deg, #000814, #0466c8); */
    background-image: linear-gradient(0deg, #00171f, #003459);
}


#accordionSidebar{
    box-shadow: 5px 10px #df0404;
}